---
---
<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    <div class="initial-content">
      <div class="notfound">
        <div class="text_group">
          <p class="text_404" style="margin: 0;">404</p>
          <p class="text_lost">The page you are looking for <br />has been lost in <a style="color: inherit;" class="glitch" data-text="home" href="{{ site.url }}">space</a>.</p>
        </div>
        <div class="window_group">
          <div class="window_404">
            <div class="stars"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="page__footer" style="margin-top: 0;">
      <footer>
        {% include_cached footer.html %}
      </footer>
    </div>
    <script src="{{ base.url }}/assets/scripts/404.js"></script>

    {% include scripts.html %}
  </body>
</html>


