{% capture logo_path %}{{ site.logo }}{% endcapture %}




<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="matrix site-title" href="{{ '/' | relative_url }} " style="font-weight: normal; font-size: 2.5ch; margin:0%;">
          {{ site.masthead_title }}
          <!-- to add on upper class tw-wrapper
          <span class="tw"></span> 
          old typewriter -->
          <div class="text"><span id="cursor"></span></div>
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a
                href="{{ link.url | relative_url }}"
                {% if link.description %} title="{{ link.description }}"{% endif %}
                {% if link.title == "ProjectsNO" %} class="glitch" data-text="Projects"{% endif %}
                {% if link.target %} target="{{ link.target }}"{% endif %}
              >{{ link.title }}
            </a>
            </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<script>
  class TextScramble {
    constructor(el) {
        this.el = el
        // █
        this.chars = '!<-_\\/()[]{}—=+*^?#@\~________'
        this.update = this.update.bind(this)
    }
    setText(newText) {
        const oldText = this.el.innerText
        const length = Math.max(oldText.length, newText.length)
        const promise = new Promise((resolve) => this.resolve = resolve)
        this.queue = []
        for (let i = 0; i < length; i++) {
        const from = oldText[i] || ''
        const to = newText[i] || ''
        const start = Math.floor(Math.random() * 40)
        const end = start + Math.floor(Math.random() * 40)
        this.queue.push({ from, to, start, end })
        }
        cancelAnimationFrame(this.frameRequest)
        this.frame = 0
        this.update()
        return promise
    }
    update() {
        let output = ''
        let complete = 0
        for (let i = 0, n = this.queue.length; i < n; i++) {
        let { from, to, start, end, char } = this.queue[i]
        if (this.frame >= end) {
            complete++
            output += to
        } else if (this.frame >= start) {
            if (!char || Math.random() < 0.28) {
              char = this.randomChar()
              this.queue[i].char = char
              }
            output += `<span class="dud">${char}</span>`
        } else {
            output += from
        }
        }
        this.el.innerHTML = output
        if (complete === this.queue.length) {
        this.resolve()
        } else {
        this.frameRequest = requestAnimationFrame(this.update)
        this.frame++
        }
    }
    randomChar() {
        return this.chars[Math.floor(Math.random() * this.chars.length)]
    }
  }
  let phrases = [
  'giacomo',
  'madella',
  '>_',
  ]
  const phrases_mtrx = [
  '\"sooner or later',
  'you\'re going to realize',
  'that there\'s a difference',
  'between knowing the path',
  'and walking the path\"',
  'Matrix'
  ]

  const el = document.querySelector('.text')
  const fx = new TextScramble(el)

  let counter =  0
  let previous = counter
  let mtr = false
  if (Math.random() < 0.001){ mtr=true }

  let next = () => {
    if (mtr){
      fx.setText(phrases_mtrx[counter]).then(() => {
        setTimeout(next, 800)
      })
      counter = (counter + 1) 
      if (counter > phrases_mtrx.length - 1){
        mtr=false
        counter=0
      }
    }
    else {
      fx.setText(phrases[counter]).then(() => {
        setTimeout(next, 1200)
      })
      while (previous == counter){
        counter = Math.floor(Math.random() * phrases.length)
      }
      previous=counter
    }
    }
  next()
</script>