// html, body {
//   font-family: 'Roboto Mono', monospace;
//   background: #212121;
//   height: 100%;
// }
  #matrix > .text > .dud {
    color: red;
  }
  a.matrix.site-title > .text > .dud {
    // color: #a38787;
    color: #702222;
  }
  #matrix {
    animation: 1500ms infinite normal matrix;
  }
  
  #matrix > span#cursor {
    animation: 1500ms infinite normal cursor;
  }
  
  @keyframes matrix {
    0% {
      opacity: 0;
      left: 0px;
    }
    40% {
      opacity: 1;
      left: -2px;
    }
    80% {
      opacity: 1;
      left: -2px;
    }
  }
  
  @keyframes cursor {
    0% {
      opacity: 0;
      left: 0px;
    }
    40% {
      opacity: 0;
      left: -2px;
    }
    80% {
      opacity: 1;
      left: -2px;
    }
  }
  